ExternalSources/ICS/GeneralICS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Sandra I. Martinez (XML Core WG) -->
<!--W3C Schema generated by XMLSPY v2004 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="Comment" type="xs:string"/>
	<xs:element name="Feature" type="xs:string"/>
	<xs:element name="GeneralICS" type="table"/>
	<xs:element name="PhdGeneralICS" type="table"/>
	<xs:element name="GeneralInteroperabilityICS" type="table"/>
	<xs:element name="PollingICS" type="table"/>
	<xs:element name="BaselineICS" type="table"/>
	<xs:element name="PhdMinReqICS" type="table"/>
	<xs:element name="PhdGenAddExtICS" type="table"/>
	<xs:element name="ServiceICS" type="table"/>
	<xs:element name="PhdServiceICS" type="table"/>
	<xs:element name="PhdPocICS" type="table"/>
	<xs:element name="PhdPocAttrICS" type="table"/>
	<xs:element name="PhdPocBehavICS" type="table"/>
	<xs:element name="PhdPocNotifICS" type="table"/>
	<xs:element name="PhdPocNomenICS" type="table"/>
	<xs:element name="MocDimICS" type="table"/>
	<xs:element name="MocAttrICS" type="table"/>
	<xs:element name="MocBehavICS" type="table"/>
	<xs:element name="MocNotifICS" type="table"/>
	<xs:element name="Index" type="xs:string"/>
	<xs:element name="Reference" type="xs:string"/>
	<xs:complexType name="RowType">
		<xs:sequence>
			<xs:element ref="Index"/>
			<xs:element ref="Feature"/>
			<xs:element ref="Reference"/>
			<xs:element ref="Status"/>
			<xs:element ref="Support"/>
			<xs:element ref="Comment"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Status" type="xs:string"/>
	<xs:element name="Support" type="xs:string"/>
	<xs:complexType name="table">
		<xs:sequence>
			<xs:element name="Row" type="RowType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
