ExternalSources/ICS/ServiceICS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v2004 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="Comment" type="xs:string">
	</xs:element>
	<xs:element name="Index">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="SRV-1"/>
				<xs:enumeration value="SRV-2"/>
				<xs:enumeration value="SRV-3"/>
				<xs:enumeration value="SRV-4"/>
				<xs:enumeration value="SRV-5"/>
				<xs:enumeration value="SRV-6"/>
				<xs:enumeration value="SRV-7"/>
				<xs:enumeration value="SRV-8"/>
				<xs:enumeration value="SRV-9"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:complexType name="RowGetType">
		<xs:sequence>
			<xs:element ref="Index"/>
			<xs:element name="Feature" type="xs:string" fixed="GET Service"/>
			<xs:element name="Reference" type="xs:string" fixed="8.4.2"/>
			<xs:element name="Status" type="xs:string" fixed="o"/>
			<xs:element ref="Support"/>
			<xs:element ref="Comment"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RowSetType">
		<xs:sequence>
			<xs:element ref="Index"/>
			<xs:element name="Feature" type="xs:string" fixed="SET Service"/>
			<xs:element name="Reference" type="xs:string" fixed="8.4.3"/>
			<xs:element name="Status" type="xs:string" fixed="o"/>
			<xs:element ref="Support"/>
			<xs:element ref="Comment"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RowConfirmedSetType">
		<xs:sequence>
			<xs:element ref="Index"/>
			<xs:element name="Feature" type="xs:string" fixed="Confirmed SET Service"/>
			<xs:element name="Reference" type="xs:string" fixed="8.4.3"/>
			<xs:element name="Status" type="xs:string" fixed="o"/>
			<xs:element ref="Support"/>
			<xs:element ref="Comment"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RowConfirmedEventReportType">
		<xs:sequence>
			<xs:element ref="Index"/>
			<xs:element name="Feature" type="xs:string" fixed="Confirmed EVENT REPORT Service"/>
			<xs:element name="Reference" type="xs:string" fixed="8.4.1"/>
			<xs:element name="Status" type="xs:string" fixed="o"/>
			<xs:element ref="Support"/>
			<xs:element ref="Comment"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RowEventReportType">
		<xs:sequence>
			<xs:element ref="Index"/>
			<xs:element name="Feature" type="xs:string" fixed="EVENT REPORT Service"/>
			<xs:element name="Reference" type="xs:string" fixed="8.4.1"/>
			<xs:element name="Status" type="xs:string" fixed="m"/>
			<xs:element ref="Support"/>
			<xs:element ref="Comment"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RowActionType">
		<xs:sequence>
			<xs:element ref="Index"/>
			<xs:element name="Feature" type="xs:string" fixed="ACTION Service"/>
			<xs:element name="Reference" type="xs:string" fixed="8.4.4"/>
			<xs:element name="Status" type="xs:string" fixed="o"/>
			<xs:element ref="Support"/>
			<xs:element ref="Comment"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RowConfirmedActionType">
		<xs:sequence>
			<xs:element ref="Index"/>
			<xs:element name="Feature" type="xs:string" fixed="Confirmed ACTION Service"/>
			<xs:element name="Reference" type="xs:string" fixed="8.4.4"/>
			<xs:element name="Status" type="xs:string" fixed="o"/>
			<xs:element ref="Support"/>
			<xs:element ref="Comment"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RowCreateType">
		<xs:sequence>
			<xs:element ref="Index"/>
			<xs:element name="Feature" type="xs:string" fixed="CREATE Service"/>
			<xs:element name="Reference" type="xs:string" fixed="8.4.5"/>
			<xs:element name="Status" type="xs:string" fixed="o"/>
			<xs:element ref="Support"/>
			<xs:element ref="Comment"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RowDeleteType">
		<xs:sequence>
			<xs:element ref="Index"/>
			<xs:element name="Feature" type="xs:string" fixed="DELETE Service"/>
			<xs:element name="Reference" type="xs:string" fixed="8.4.6"/>
			<xs:element name="Status" type="xs:string" fixed="o"/>
			<xs:element ref="Support"/>
			<xs:element ref="Comment"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SERVICE">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RowGet" type="RowGetType"/>
				<xs:element name="RowSet" type="RowSetType"/>
				<xs:element name="RowConfirmedSet" type="RowConfirmedSetType"/>
				<xs:element name="RowConfirmedEventReport" type="RowConfirmedEventReportType"/>
				<xs:element name="RowEventReport" type="RowEventReportType"/>
				<xs:element name="RowAction" type="RowActionType"/>
				<xs:element name="RowConfirmedAction" type="RowConfirmedActionType"/>
				<xs:element name="RowCreate" type="RowCreateType"/>
				<xs:element name="RowDelete" type="RowDeleteType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Support">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="no"/>
				<xs:enumeration value="yes"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
