ExternalSources/ICS/TransportICS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 rel. 3 sp1 (http://www.altova.com) by John Garguilo (NIST) -->
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Sandra I. Martinez (XML Core WG) -->
<!--W3C Schema generated by XMLSPY v2004 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:complexType name="FunctionType">
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="BCC" type="xs:string" use="required"/>
		<xs:attribute name="DCC" type="xs:string" use="required"/>
		<xs:attribute name="Supported" type="xs:string" use="required"/>
		<xs:attribute name="Values" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="Transport-ICSType">
		<xs:sequence>
			<xs:element name="Function" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="FunctionType">
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="Function" minOccurs="0" maxOccurs="unbounded">
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="FunctionType">
												<xs:sequence minOccurs="0">
													<xs:element name="Function" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:complexContent>
																<xs:extension base="FunctionType">
																	<xs:sequence/>
																</xs:extension>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:extension>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="Transport-ProfileType">
		<xs:sequence>
			<xs:element name="Transport-ICS" type="Transport-ICSType" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:element name="Transports">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Transport-Profile" type="Transport-ProfileType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
