2.1/11073/10101/Export/11073-10101.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
  elementFormDefault="qualified"
  xmlns:prefix="http://www.cmusv.edu/MobileHealth/2.1/11073/10101/11073-10101"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!-- 
    The root element is the union of all possible "classes"
     -->
  <xsd:element name="RDF">
    <xsd:complexType>
      <xsd:choice maxOccurs="unbounded" minOccurs="0">
        <xsd:element ref="mhs_Measurement"/>
        <xsd:element ref="mhs_MeasurementBloodA.8.5.8"/>
        <xsd:element ref="mhs_MeasurementCommA.4.1thru.A.4.8"/>
        <xsd:element ref="mhs_MeasurementDimDiscrimA.6.1"/>
        <xsd:element ref="mhs_MeasurementDimUnitsA.6.3"/>
        <xsd:element ref="mhs_MeasurementECGEnumsA.8.2.3"/>
        <xsd:element ref="mhs_MeasurementECGLeadsA.7.1.1"/>
        <xsd:element ref="mhs_MeasurementECGMsmtsA.7.1.2"/>
        <xsd:element ref="mhs_MeasurementEventDevA.10.3.2"/>
        <xsd:element ref="mhs_MeasurementEventPattA.10.2.1"/>
        <xsd:element ref="mhs_MeasurementFluidOutA.8.6.9"/>
        <xsd:element ref="mhs_MeasurementGasCorrA.8.4.7"/>
        <xsd:element ref="mhs_MeasurementHemoA.8.3.4"/>
        <xsd:element ref="mhs_MeasurementMedDevsA.5.1"/>
        <xsd:element ref="mhs_MeasurementMiscA.8.11.16"/>
        <xsd:element ref="mhs_MeasurementNeuroEnumA.8.9.14"/>
        <xsd:element ref="mhs_MeasurementNeuroMsmtA.8.8.13"/>
        <xsd:element ref="mhs_MeasurementNeuroStimA.8.10.15"/>
        <xsd:element ref="mhs_MeasurementNomenExtA.11.3.1"/>
        <xsd:element ref="mhs_MeasurementOOA.3.1.1thru3.2.2.5"/>
        <xsd:element ref="mhs_MeasurementPtnFig1"/>
        <xsd:element ref="mhs_MeasurementPumpA.8.7.10"/>
        <xsd:element ref="mhs_MeasurementPumpModeBITSA.8.7.11"/>
        <xsd:element ref="mhs_MeasurementPumpStateBITSA.8.7.11"/>
        <xsd:element ref="mhs_MeasurementRespA.8.4.5"/>
        <xsd:element ref="mhs_MeasurementSiteBrainA.9.6.5"/>
        <xsd:element ref="mhs_MeasurementSiteEOGA.9.5.4"/>
        <xsd:element ref="mhs_MeasurementSiteHeadA.9.4.3"/>
        <xsd:element ref="mhs_MeasurementSiteMiscA.9.8.7"/>
        <xsd:element ref="mhs_MeasurementSiteMuscA.9.3.2"/>
        <xsd:element ref="mhs_MeasurementSiteNerveA.9.2.1"/>
        <xsd:element ref="mhs_MeasurementSiteQualA.9.9.8"/>
        <xsd:element ref="mhs_MeasurementVentBITSA.8.4.6"/>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!-- 
    Created from class mhs:Measurement
     -->
  <xsd:element name="mhs_Measurement" type="mhs_MeasurementType"/>
  <xsd:complexType name="mhs_MeasurementType">
    <xsd:attribute name="id" type="xsd:ID" use="optional"/>
  </xsd:complexType>
  <!-- 
    Created from class mhs:MeasurementBloodA.8.5.8
     -->
  <xsd:element name="mhs_MeasurementBloodA.8.5.8" type="mhs_MeasurementBloodA.8.5.8Type"/>
  <xsd:complexType name="mhs_MeasurementBloodA.8.5.8Type">
    <xsd:complexContent>
      <xsd:extension base="mhs_MeasurementType">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="mhs_dataPropertyCode" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyCommonTerm" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyNote" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyOrigSeq" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyPHDMajSeq" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyPHDMinSeq" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyReferenceID" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertySystematicName" type="xsd:string"/>
        </xsd:choice>
        <xsd:attribute name="mhs_dataPropertyPHDMinSeq"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyCode" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyPHDMajSeq"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyReferenceID"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertySystematicName"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyOrigSeq" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyCommonTerm"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyNote" type="xsd:string" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- 
    Created from class mhs:MeasurementCommA.4.1thru.A.4.8
     -->
  <xsd:element name="mhs_MeasurementCommA.4.1thru.A.4.8" type="mhs_MeasurementCommA.4.1thru.A.4.8Type"/>
  <xsd:complexType name="mhs_MeasurementCommA.4.1thru.A.4.8Type">
    <xsd:complexContent>
      <xsd:extension base="mhs_MeasurementType">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="mhs_dataPropertyCode" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyDIMName" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyDerivedFrom" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyNote" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyOrigSeq" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyPHDMajSeq" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyPHDMinSeq" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyReferenceID" type="xsd:string"/>
        </xsd:choice>
        <xsd:attribute name="mhs_dataPropertyPHDMinSeq"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyCode" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyPHDMajSeq"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyReferenceID"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyOrigSeq" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyDerivedFrom"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyDIMName" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyNote" type="xsd:string" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- 
    Created from class mhs:MeasurementDimDiscrimA.6.1
     -->
  <xsd:element name="mhs_MeasurementDimDiscrimA.6.1" type="mhs_MeasurementDimDiscrimA.6.1Type"/>
  <xsd:complexType name="mhs_MeasurementDimDiscrimA.6.1Type">
    <xsd:complexContent>
      <xsd:extension base="mhs_MeasurementType">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="mhs_dataPropertyCodeOffset" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyMagnitude" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyName" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyNote" type="xsd:string"/>
        </xsd:choice>
        <xsd:attribute name="mhs_dataPropertyCodeOffset"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyMagnitude"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyName" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyNote" type="xsd:string" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- 
    Created from class mhs:MeasurementDimUnitsA.6.3
     -->
  <xsd:element name="mhs_MeasurementDimUnitsA.6.3" type="mhs_MeasurementDimUnitsA.6.3Type"/>
  <xsd:complexType name="mhs_MeasurementDimUnitsA.6.3Type">
    <xsd:complexContent>
      <xsd:extension base="mhs_MeasurementType">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="mhs_dataPropertyCode_BaseCode_" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyDimension" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyIsIn10101_" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyLegalUnitCode" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyNote" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyOrigSeq" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyPHDMajSeq" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyPHDMinSeq" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyReferenceID" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertySymbol_notNormative_" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyUnitOfMeasurement" type="xsd:string"/>
        </xsd:choice>
        <xsd:attribute name="mhs_dataPropertyPHDMinSeq"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyIsIn10101_"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyLegalUnitCode"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyUnitOfMeasurement"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyPHDMajSeq"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyReferenceID"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyDimension"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertySymbol_notNormative_"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyOrigSeq" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyCode_BaseCode_"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyNote" type="xsd:string" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- 
    Created from class mhs:MeasurementECGEnumsA.8.2.3
     -->
  <xsd:element name="mhs_MeasurementECGEnumsA.8.2.3" type="mhs_MeasurementECGEnumsA.8.2.3Type"/>
  <xsd:complexType name="mhs_MeasurementECGEnumsA.8.2.3Type">
    <xsd:complexContent>
      <xsd:extension base="mhs_MeasurementType">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="mhs_dataPropertyAcronym" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyCode" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyCommonTerm" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyDescription_Definition" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyNote" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyOrigSeq" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyReferenceID" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertySystematicName" type="xsd:string"/>
        </xsd:choice>
        <xsd:attribute name="mhs_dataPropertyCode" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyReferenceID"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyAcronym" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertySystematicName"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyOrigSeq" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyDescription_Definition"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyCommonTerm"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyNote" type="xsd:string" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- 
    Created from class mhs:MeasurementECGLeadsA.7.1.1
     -->
  <xsd:element name="mhs_MeasurementECGLeadsA.7.1.1" type="mhs_MeasurementECGLeadsA.7.1.1Type"/>
  <xsd:complexType name="mhs_MeasurementECGLeadsA.7.1.1Type">
    <xsd:complexContent>
      <xsd:extension base="mhs_MeasurementType">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="mhs_dataPropertyLead" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyNote" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyOrigSeq" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyReferenceID" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertySCPCode" type="xsd:string"/>
        </xsd:choice>
        <xsd:attribute name="mhs_dataPropertyLead" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyReferenceID"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertySCPCode" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyOrigSeq" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyNote" type="xsd:string" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- 
    Created from class mhs:MeasurementECGMsmtsA.7.1.2
     -->
  <xsd:element name="mhs_MeasurementECGMsmtsA.7.1.2" type="mhs_MeasurementECGMsmtsA.7.1.2Type"/>
  <xsd:complexType name="mhs_MeasurementECGMsmtsA.7.1.2Type">
    <xsd:complexContent>
      <xsd:extension base="mhs_MeasurementType">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="mhs_dataPropertyAcronym" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyCode" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyCommonTerm" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyDescription_Definition" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyNote" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyOrigSeq" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyReferenceID" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertySystematicName" type="xsd:string"/>
        </xsd:choice>
        <xsd:attribute name="mhs_dataPropertyCode" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyReferenceID"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyAcronym" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertySystematicName"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyOrigSeq" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyDescription_Definition"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyCommonTerm"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyNote" type="xsd:string" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- 
    Created from class mhs:MeasurementEventDevA.10.3.2
     -->
  <xsd:element name="mhs_MeasurementEventDevA.10.3.2" type="mhs_MeasurementEventDevA.10.3.2Type"/>
  <xsd:complexType name="mhs_MeasurementEventDevA.10.3.2Type">
    <xsd:complexContent>
      <xsd:extension base="mhs_MeasurementType">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="mhs_dataPropertyAcronym" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyCode" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyCommonTerm" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyDescription_Definition" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyNote" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyReferenceID" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertySystematicName" type="xsd:string"/>
        </xsd:choice>
        <xsd:attribute name="mhs_dataPropertyCode" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyReferenceID"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyAcronym" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertySystematicName"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyDescription_Definition"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyCommonTerm"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyNote" type="xsd:string" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- 
    Created from class mhs:MeasurementEventPattA.10.2.1
     -->
  <xsd:element name="mhs_MeasurementEventPattA.10.2.1" type="mhs_MeasurementEventPattA.10.2.1Type"/>
  <xsd:complexType name="mhs_MeasurementEventPattA.10.2.1Type">
    <xsd:complexContent>
      <xsd:extension base="mhs_MeasurementType">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="mhs_dataPropertyAcronym" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyCode" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyCommonTerm" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyDescription_Definition" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyNote" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyReferenceID" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertySystematicName" type="xsd:string"/>
        </xsd:choice>
        <xsd:attribute name="mhs_dataPropertyCode" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyReferenceID"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyAcronym" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertySystematicName"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyDescription_Definition"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyCommonTerm"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyNote" type="xsd:string" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- 
    Created from class mhs:MeasurementFluidOutA.8.6.9
     -->
  <xsd:element name="mhs_MeasurementFluidOutA.8.6.9" type="mhs_MeasurementFluidOutA.8.6.9Type"/>
  <xsd:complexType name="mhs_MeasurementFluidOutA.8.6.9Type">
    <xsd:complexContent>
      <xsd:extension base="mhs_MeasurementType">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="mhs_dataPropertyCode" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyCommonTerm" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyDescription_Definition" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyNote" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyReferenceID" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertySystematicName" type="xsd:string"/>
        </xsd:choice>
        <xsd:attribute name="mhs_dataPropertyCode" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyReferenceID"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertySystematicName"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyDescription_Definition"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyCommonTerm"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyNote" type="xsd:string" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- 
    Created from class mhs:MeasurementGasCorrA.8.4.7
     -->
  <xsd:element name="mhs_MeasurementGasCorrA.8.4.7" type="mhs_MeasurementGasCorrA.8.4.7Type"/>
  <xsd:complexType name="mhs_MeasurementGasCorrA.8.4.7Type">
    <xsd:complexContent>
      <xsd:extension base="mhs_MeasurementType">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="mhs_dataPropertyAcronym" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyCommonTerm" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyDescription_Definition" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyNote" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertySystematicName" type="xsd:string"/>
          <xsd:element
            name="mhs_dataPropertyTextForMetricInfoLabelString" type="xsd:string"/>
        </xsd:choice>
        <xsd:attribute
          name="mhs_dataPropertyTextForMetricInfoLabelString"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyAcronym" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertySystematicName"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyDescription_Definition"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyCommonTerm"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyNote" type="xsd:string" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- 
    Created from class mhs:MeasurementHemoA.8.3.4
     -->
  <xsd:element name="mhs_MeasurementHemoA.8.3.4" type="mhs_MeasurementHemoA.8.3.4Type"/>
  <xsd:complexType name="mhs_MeasurementHemoA.8.3.4Type">
    <xsd:complexContent>
      <xsd:extension base="mhs_MeasurementType">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="mhs_dataPropertyAcronym" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyCode" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyCommonTerm" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyDescription_Definition" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyNote" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyOrigSeq" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyPHDMajSeq" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyPHDMinSeq" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyReferenceID" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertySystematicName" type="xsd:string"/>
        </xsd:choice>
        <xsd:attribute name="mhs_dataPropertyPHDMinSeq"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyCode" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyPHDMajSeq"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyReferenceID"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyAcronym" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertySystematicName"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyOrigSeq" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyDescription_Definition"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyCommonTerm"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyNote" type="xsd:string" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- 
    Created from class mhs:MeasurementMedDevsA.5.1
     -->
  <xsd:element name="mhs_MeasurementMedDevsA.5.1" type="mhs_MeasurementMedDevsA.5.1Type"/>
  <xsd:complexType name="mhs_MeasurementMedDevsA.5.1Type">
    <xsd:complexContent>
      <xsd:extension base="mhs_MeasurementType">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="mhs_dataPropertyCode" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyCommonTerm" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyDescription_Definition" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyNote" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyReferenceID" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertySystematicName" type="xsd:string"/>
        </xsd:choice>
        <xsd:attribute name="mhs_dataPropertyCode" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyReferenceID"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertySystematicName"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyDescription_Definition"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyCommonTerm"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyNote" type="xsd:string" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- 
    Created from class mhs:MeasurementMiscA.8.11.16
     -->
  <xsd:element name="mhs_MeasurementMiscA.8.11.16" type="mhs_MeasurementMiscA.8.11.16Type"/>
  <xsd:complexType name="mhs_MeasurementMiscA.8.11.16Type">
    <xsd:complexContent>
      <xsd:extension base="mhs_MeasurementType">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="mhs_dataPropertyAcronym" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyCode" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyCommonTerm" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyDescription_Definition" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyNote" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyOrigSeq" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyPHDMajSeq" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyPHDMinSeq" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyReferenceID" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertySystematicName" type="xsd:string"/>
        </xsd:choice>
        <xsd:attribute name="mhs_dataPropertyPHDMinSeq"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyCode" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyPHDMajSeq"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyReferenceID"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyAcronym" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertySystematicName"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyOrigSeq" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyDescription_Definition"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyCommonTerm"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyNote" type="xsd:string" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- 
    Created from class mhs:MeasurementNeuroEnumA.8.9.14
     -->
  <xsd:element name="mhs_MeasurementNeuroEnumA.8.9.14" type="mhs_MeasurementNeuroEnumA.8.9.14Type"/>
  <xsd:complexType name="mhs_MeasurementNeuroEnumA.8.9.14Type">
    <xsd:complexContent>
      <xsd:extension base="mhs_MeasurementType">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="mhs_dataPropertyAcronym" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyCode" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyCommonTerm" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyDescription_Definition" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyNote" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyReferenceID" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertySystematicName" type="xsd:string"/>
        </xsd:choice>
        <xsd:attribute name="mhs_dataPropertyCode" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyReferenceID"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyAcronym" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertySystematicName"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyDescription_Definition"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyCommonTerm"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyNote" type="xsd:string" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- 
    Created from class mhs:MeasurementNeuroMsmtA.8.8.13
     -->
  <xsd:element name="mhs_MeasurementNeuroMsmtA.8.8.13" type="mhs_MeasurementNeuroMsmtA.8.8.13Type"/>
  <xsd:complexType name="mhs_MeasurementNeuroMsmtA.8.8.13Type">
    <xsd:complexContent>
      <xsd:extension base="mhs_MeasurementType">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="mhs_dataPropertyAcronym" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyCode" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyCommonTerm" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyDescription_Definition" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyNote" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyReferenceID" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertySystematicName" type="xsd:string"/>
        </xsd:choice>
        <xsd:attribute name="mhs_dataPropertyCode" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyReferenceID"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyAcronym" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertySystematicName"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyDescription_Definition"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyCommonTerm"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyNote" type="xsd:string" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- 
    Created from class mhs:MeasurementNeuroStimA.8.10.15
     -->
  <xsd:element name="mhs_MeasurementNeuroStimA.8.10.15" type="mhs_MeasurementNeuroStimA.8.10.15Type"/>
  <xsd:complexType name="mhs_MeasurementNeuroStimA.8.10.15Type">
    <xsd:complexContent>
      <xsd:extension base="mhs_MeasurementType">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="mhs_dataPropertyCode" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyCommonTerm" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyDescription_Definition" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyNote" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyOrigSeq" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyPHDMajSeq" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyPHDMinSeq" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyReferenceID" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertySystematicName" type="xsd:string"/>
        </xsd:choice>
        <xsd:attribute name="mhs_dataPropertyPHDMinSeq"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyCode" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyPHDMajSeq"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyReferenceID"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertySystematicName"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyOrigSeq" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyDescription_Definition"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyCommonTerm"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyNote" type="xsd:string" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- 
    Created from class mhs:MeasurementNomenExtA.11.3.1
     -->
  <xsd:element name="mhs_MeasurementNomenExtA.11.3.1" type="mhs_MeasurementNomenExtA.11.3.1Type"/>
  <xsd:complexType name="mhs_MeasurementNomenExtA.11.3.1Type">
    <xsd:complexContent>
      <xsd:extension base="mhs_MeasurementType">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="mhs_dataPropertyAcronym" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyCode" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyCommonTerm" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyDescription_Definition" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyNote" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyReferenceID" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertySystematicName" type="xsd:string"/>
        </xsd:choice>
        <xsd:attribute name="mhs_dataPropertyCode" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyReferenceID"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyAcronym" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertySystematicName"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyDescription_Definition"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyCommonTerm"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyNote" type="xsd:string" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- 
    Created from class mhs:MeasurementOOA.3.1.1thru3.2.2.5
     -->
  <xsd:element name="mhs_MeasurementOOA.3.1.1thru3.2.2.5" type="mhs_MeasurementOOA.3.1.1thru3.2.2.5Type"/>
  <xsd:complexType name="mhs_MeasurementOOA.3.1.1thru3.2.2.5Type">
    <xsd:complexContent>
      <xsd:extension base="mhs_MeasurementType">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="mhs_dataPropertyCode" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyDIMName" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyNote" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyOrigSeq" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyPHDMajSeq" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyPHDMinSeq" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyReferenceID" type="xsd:string"/>
          <xsd:element name="mhs_dataProperty_DerivedFm_" type="xsd:string"/>
        </xsd:choice>
        <xsd:attribute name="mhs_dataPropertyPHDMinSeq"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyCode" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataProperty_DerivedFm_"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyPHDMajSeq"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyReferenceID"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyOrigSeq" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyDIMName" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyNote" type="xsd:string" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- 
    Created from class mhs:MeasurementPtnFig1
     -->
  <xsd:element name="mhs_MeasurementPtnFig1" type="mhs_MeasurementPtnFig1Type"/>
  <xsd:complexType name="mhs_MeasurementPtnFig1Type">
    <xsd:complexContent>
      <xsd:extension base="mhs_MeasurementType">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="mhs_dataPropertyIsIn10101_" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyMajorSeq" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyMinorSeq" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyName" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyNote" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyNotes" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyPartition" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertySeq" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertySpec_" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyValue" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyVersion" type="xsd:string"/>
        </xsd:choice>
        <xsd:attribute name="mhs_dataPropertyValue" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyIsIn10101_"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertySeq" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyMinorSeq" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyMajorSeq" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyVersion" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyName" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertySpec_" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyNotes" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyPartition"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyNote" type="xsd:string" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- 
    Created from class mhs:MeasurementPumpA.8.7.10
     -->
  <xsd:element name="mhs_MeasurementPumpA.8.7.10" type="mhs_MeasurementPumpA.8.7.10Type"/>
  <xsd:complexType name="mhs_MeasurementPumpA.8.7.10Type">
    <xsd:complexContent>
      <xsd:extension base="mhs_MeasurementType">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="mhs_dataPropertyCode" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyCommonTerm" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyDescription_Definition" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyNote" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyReferenceID" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertySystematicName" type="xsd:string"/>
        </xsd:choice>
        <xsd:attribute name="mhs_dataPropertyCode" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyReferenceID"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertySystematicName"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyDescription_Definition"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyCommonTerm"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyNote" type="xsd:string" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- 
    Created from class mhs:MeasurementPumpModeBITSA.8.7.11
     -->
  <xsd:element name="mhs_MeasurementPumpModeBITSA.8.7.11" type="mhs_MeasurementPumpModeBITSA.8.7.11Type"/>
  <xsd:complexType name="mhs_MeasurementPumpModeBITSA.8.7.11Type">
    <xsd:complexContent>
      <xsd:extension base="mhs_MeasurementType">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="mhs_dataPropertyBitString" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyCommonTerm" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyDescription_Definition" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyNote" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertySystematicName" type="xsd:string"/>
        </xsd:choice>
        <xsd:attribute name="mhs_dataPropertyBitString"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertySystematicName"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyDescription_Definition"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyCommonTerm"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyNote" type="xsd:string" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- 
    Created from class mhs:MeasurementPumpStateBITSA.8.7.11
     -->
  <xsd:element name="mhs_MeasurementPumpStateBITSA.8.7.11" type="mhs_MeasurementPumpStateBITSA.8.7.11Type"/>
  <xsd:complexType name="mhs_MeasurementPumpStateBITSA.8.7.11Type">
    <xsd:complexContent>
      <xsd:extension base="mhs_MeasurementType">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="mhs_dataPropertyBitString" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyCommonTerm" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyDescription_Definition" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyNote" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertySystematicName" type="xsd:string"/>
        </xsd:choice>
        <xsd:attribute name="mhs_dataPropertyBitString"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertySystematicName"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyDescription_Definition"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyCommonTerm"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyNote" type="xsd:string" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- 
    Created from class mhs:MeasurementRespA.8.4.5
     -->
  <xsd:element name="mhs_MeasurementRespA.8.4.5" type="mhs_MeasurementRespA.8.4.5Type"/>
  <xsd:complexType name="mhs_MeasurementRespA.8.4.5Type">
    <xsd:complexContent>
      <xsd:extension base="mhs_MeasurementType">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="mhs_dataPropertyAcronym" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyCode" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyCommonTerm" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyDescription_Definition" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyNote" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyOrigSeq" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyPHDMajSeq" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyPHDMinSeq" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyReferenceID" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertySystematicName" type="xsd:string"/>
        </xsd:choice>
        <xsd:attribute name="mhs_dataPropertyPHDMinSeq"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyCode" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyPHDMajSeq"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyReferenceID"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyAcronym" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertySystematicName"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyOrigSeq" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyDescription_Definition"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyCommonTerm"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyNote" type="xsd:string" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- 
    Created from class mhs:MeasurementSiteBrainA.9.6.5
     -->
  <xsd:element name="mhs_MeasurementSiteBrainA.9.6.5" type="mhs_MeasurementSiteBrainA.9.6.5Type"/>
  <xsd:complexType name="mhs_MeasurementSiteBrainA.9.6.5Type">
    <xsd:complexContent>
      <xsd:extension base="mhs_MeasurementType">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="mhs_dataPropertyCode" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyDescription_Definition" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyNote" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyReferenceID" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertySystematicName" type="xsd:string"/>
        </xsd:choice>
        <xsd:attribute name="mhs_dataPropertyCode" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyReferenceID"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertySystematicName"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyDescription_Definition"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyNote" type="xsd:string" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- 
    Created from class mhs:MeasurementSiteEOGA.9.5.4
     -->
  <xsd:element name="mhs_MeasurementSiteEOGA.9.5.4" type="mhs_MeasurementSiteEOGA.9.5.4Type"/>
  <xsd:complexType name="mhs_MeasurementSiteEOGA.9.5.4Type">
    <xsd:complexContent>
      <xsd:extension base="mhs_MeasurementType">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="mhs_dataPropertyAcronym" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyCode" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyDescription_Definition" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyNote" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyReferenceID" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertySystematicName" type="xsd:string"/>
        </xsd:choice>
        <xsd:attribute name="mhs_dataPropertyCode" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyReferenceID"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyAcronym" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertySystematicName"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyDescription_Definition"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyNote" type="xsd:string" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- 
    Created from class mhs:MeasurementSiteHeadA.9.4.3
     -->
  <xsd:element name="mhs_MeasurementSiteHeadA.9.4.3" type="mhs_MeasurementSiteHeadA.9.4.3Type"/>
  <xsd:complexType name="mhs_MeasurementSiteHeadA.9.4.3Type">
    <xsd:complexContent>
      <xsd:extension base="mhs_MeasurementType">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="mhs_dataPropertyAcronym" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyCode" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyDescription_Definition" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyNote" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyReferenceID" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertySystematicName" type="xsd:string"/>
        </xsd:choice>
        <xsd:attribute name="mhs_dataPropertyCode" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyReferenceID"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyAcronym" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertySystematicName"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyDescription_Definition"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyNote" type="xsd:string" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- 
    Created from class mhs:MeasurementSiteMiscA.9.8.7
     -->
  <xsd:element name="mhs_MeasurementSiteMiscA.9.8.7" type="mhs_MeasurementSiteMiscA.9.8.7Type"/>
  <xsd:complexType name="mhs_MeasurementSiteMiscA.9.8.7Type">
    <xsd:complexContent>
      <xsd:extension base="mhs_MeasurementType">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="mhs_dataPropertyCode" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyDescription_Definition" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyNote" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyReferenceID" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertySystematicName" type="xsd:string"/>
        </xsd:choice>
        <xsd:attribute name="mhs_dataPropertyCode" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyReferenceID"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertySystematicName"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyDescription_Definition"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyNote" type="xsd:string" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- 
    Created from class mhs:MeasurementSiteMuscA.9.3.2
     -->
  <xsd:element name="mhs_MeasurementSiteMuscA.9.3.2" type="mhs_MeasurementSiteMuscA.9.3.2Type"/>
  <xsd:complexType name="mhs_MeasurementSiteMuscA.9.3.2Type">
    <xsd:complexContent>
      <xsd:extension base="mhs_MeasurementType">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="mhs_dataPropertyCode" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyDescription_Definition" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyNote" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyOrigSeq" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyPHDMajSeq" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyPHDMinSeq" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyReferenceID" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertySystematicName" type="xsd:string"/>
        </xsd:choice>
        <xsd:attribute name="mhs_dataPropertyPHDMinSeq"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyCode" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyPHDMajSeq"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyReferenceID"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertySystematicName"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyOrigSeq" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyDescription_Definition"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyNote" type="xsd:string" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- 
    Created from class mhs:MeasurementSiteNerveA.9.2.1
     -->
  <xsd:element name="mhs_MeasurementSiteNerveA.9.2.1" type="mhs_MeasurementSiteNerveA.9.2.1Type"/>
  <xsd:complexType name="mhs_MeasurementSiteNerveA.9.2.1Type">
    <xsd:complexContent>
      <xsd:extension base="mhs_MeasurementType">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="mhs_dataPropertyCode" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyDescription_Definition" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyNote" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyReferenceID" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertySystematicName" type="xsd:string"/>
        </xsd:choice>
        <xsd:attribute name="mhs_dataPropertyCode" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyReferenceID"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertySystematicName"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyDescription_Definition"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyNote" type="xsd:string" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- 
    Created from class mhs:MeasurementSiteQualA.9.9.8
     -->
  <xsd:element name="mhs_MeasurementSiteQualA.9.9.8" type="mhs_MeasurementSiteQualA.9.9.8Type"/>
  <xsd:complexType name="mhs_MeasurementSiteQualA.9.9.8Type">
    <xsd:complexContent>
      <xsd:extension base="mhs_MeasurementType">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="mhs_dataPropertyCode" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyCommonTerm" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyDescription_Definition" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyNote" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyReferenceID" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertySystematicName" type="xsd:string"/>
        </xsd:choice>
        <xsd:attribute name="mhs_dataPropertyCode" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyReferenceID"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertySystematicName"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyDescription_Definition"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyCommonTerm"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyNote" type="xsd:string" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- 
    Created from class mhs:MeasurementVentBITSA.8.4.6
     -->
  <xsd:element name="mhs_MeasurementVentBITSA.8.4.6" type="mhs_MeasurementVentBITSA.8.4.6Type"/>
  <xsd:complexType name="mhs_MeasurementVentBITSA.8.4.6Type">
    <xsd:complexContent>
      <xsd:extension base="mhs_MeasurementType">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="mhs_dataPropertyAcronym" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyBitString" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyCommonTerm" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyDescription_Definition" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertyNote" type="xsd:string"/>
          <xsd:element name="mhs_dataPropertySystematicName" type="xsd:string"/>
        </xsd:choice>
        <xsd:attribute name="mhs_dataPropertyBitString"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyAcronym" type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertySystematicName"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyDescription_Definition"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyCommonTerm"
          type="xsd:string" use="optional"/>
        <xsd:attribute name="mhs_dataPropertyNote" type="xsd:string" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
